doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width")
        meta(name="base-url",content=url_for())
        link(rel="stylesheet", href="https://cdn.honokak.osaka/honoka/3.3.7-a/css/bootstrap.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
        for name in theme.highlight_languages
            script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/"+name+".min.js")
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css")
        != css("style.css")
        != js("gacha.js")
        != js("script.js")
        if page.title
            title #{page.title} - #{config.title}
        else
            title #{config.title}
    body
        nav.navbar.navbar-inverse
            .container
                .gray-filter
                .navbar-header
                    a.navbar-brand(href=url_for())= config.title
        .container
            != body